.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.h2 {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 30px;
  margin-top: 8px;
}
p {
  font-size: 20px;
}
.header {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}
.header1 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  vertical-align: text-bottom;
}

.movieContainer {
  width: 250px;
  margin: 16px;
  background-color: #c80150c8;
  color: black;
  border-radius: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}

.movieContainer img {
  max-width: 100%;
}

.movieInfo {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  color: white;
}

.movieInfo span {
  margin-left: 3px;
}

.wholePage {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
}
