.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 30px;
}

.center {
  flex: 1;
  height: 75vh;
  background: #e7e4e0;
  overflow-y: scroll;
  text-align: left;
  padding: 5px;
  margin: 10px;
  border-radius: 15px;
}

.h {
  font-size: 20px;
}

.hh {
  font-size: 18px;
}

.p {
  font-size: 13px;
}

.butt {
  border-radius: 5px;
  margin: 10px;
  background-color: #e7e4e0;
}

.buttP {
  font-size: 20px;
  margin: 0px;
}
