.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 30px;
}

.DeductionIcon {
  margin-top: 5px;
}

.Bar {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #e7e4e0;
  border-radius: 15px;
  border-color: black;
}

.gauge {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gaugeStart {
  width: 50%;
  display: flex;
  align-items: flex-start;
  font-size: 15px;
}

.gaugeEnd {
  width: 50%;
  text-align: right;
  font-size: 15px;
}

.butt {
  border-radius: 5px;
  margin: 10px;
  background-color: #e7e4e0;
}

.buttP {
  font-size: 15px;
  margin: 0px;
}

.hhh {
  color: black;
  margin: 0px;
}

.image {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 200px;
}
