.time {
  margin-top: 50px;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 30px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px; /* 원하는 만큼의 여백을 위쪽에 추가하여 테이블을 아래로 움직입니다. */
}

table td {
  width: 25%;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
}

table td:first-child {
  width: 10%;
}

.off td {
  background: #eee;
  color: #ccc;
}
