.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #e7e4e0;
  border-radius: 15px;
  border-color: black;
}

.top {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 30px;
}

.logo {
  width: 100px;
  height: 30px;
  margin-right: 20px; /* 이미지와 텍스트 사이의 우측 여백을 설정합니다. */
}

.heading {
  margin-left: 20px; /* 텍스트의 좌측 여백을 설정합니다. */
}

.menu h3 {
  margin-top: 2px; /* 텍스트와 이미지 사이 간격 조정 */
  font-size: 15px; /* 텍스트의 크기 조정 */
  color: black;
}

.butt {
  border-radius: 5px;
  margin: 5px;
  height: 100px;
  background-color: #e7e4e0;
}
.buttonArea {
  width: 35%;
  height: 100%;
}

.buttP {
  color: black;
  font-size: 10px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px; /* 원하는 만큼의 여백을 위쪽에 추가하여 테이블을 아래로 움직입니다. */
  padding-left: 10px;
  padding-right: 10px;
}

table td {
  width: 25%;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
}

table td:first-child {
  width: 10%;
}

.tablebody {
  margin: 10px;
}

.off td {
  background: #eee;
  color: #ccc;
}

.time {
  margin-top: 30px;
}
